<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>
<h1>!announce!</h1>
<form>
<input type="button" value="戻る" onclick="location.href='!page!';">
</form>

</body>
</html>
